# Ignore Node Modules
node_modules
npm-debug.log*
yarn-error.log*

# DB creds
mongocreds

# Ignore Environment Variables
.env
.env.local
.env.development
.env.production

# Ignore Firebase Service Account JSON
auth/firebase-service-account.json

# Ignore Logs
logs/
*.log
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore Build Files
dist/
build/

# Ignore Editor/OS Specific Files
.vscode/
.DS_Store
.idea/
*.swp

.envbackend/src/auth/firebase-service-account.json
auth/firebase-service-account.json
src/auth/firebase-service-account.json
backend/src/auth/firebase-service-account.json
